
.CatLogo{
  border-bottom: 1px solid gray;
  cursor: pointer;
}
.CatCard{
  height: 250px;
  width: 250px;
  border: 1px solid gray;
  text-align: center;
  cursor: pointer;
  background: linear-gradient(145deg, #093580, #0a3a69); 
  border-radius: 10px;
  color: white;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
}
.CatCard:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(30, 144, 255, 0.6);
}
.categories{
  padding-bottom: 100px;
  padding-top: 30px;
}
.logo{
  height: 180px;
  width: 230px;
}

.main-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 80vh;
  width: 30vw;
  margin: 30px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 20px;
  font-size: 1.2em;
}
form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 80%;
  width: 90%;
}
.sign-up-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  width: 90%;
 }
.password-wrapper {
  position: relative;
  width: 100%;
}

.details {
  width: 70%;
  padding: 10px 40px 10px 10px; 
  border: 2px solid #ccc;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid gray;
}

.password-wrapper .icon {
  position: absolute;
  right: 45px;  
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #888;
}
.submit-btn{
  background-color: hsl(219, 100%, 50%);
  color: white;
  border: none;
  padding: 10px;
  height: 20%;
  width: 85%;
  border-radius: 5px;
  cursor: pointer;
}
.signup a{
  color: black;
  font-size: 1.2em;
  text-decoration: none;
}
.signup a:hover {
  text-decoration: underline;
}
.product-list{
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 30px;
}
.product-card {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 15px;
  text-align: center;
  width: 250px;
  transition: transform 0.3s ease-in-out;
  background: linear-gradient(145deg, #093580, #0a3a69); 
  color: white;
}

.product-card:hover {
  transform: scale(1.05);
}

.product-image {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
}

.product-name {
  font-size: 1.2rem;
  margin: 10px 0;
  font-weight: bold;
}

.product-price {
  font-size: 1rem;
  color: #28a745;
  margin-bottom: 10px;
}

.view-details {
  display: inline-block;
  padding: 8px 15px;
  background: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background 0.3s;
}

.view-details:hover {
  background: #0056b3;
}
a{
  text-decoration: none;
  color: black;
}