:root {
    --primary-color: #0a192f; 
    --secondary-color: #00bfff; 
    --background-color: #1f2833; 
    --text-color: #ffffff; 
    --accent-color: #ffd700; 
    --border-color: #0a192f; 
  }
  
  .search {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 500px;
  }
  
  .search-input {
    flex: 1;
    padding: 10px 15px;
    border: 1px solid var(--border-color);
    border-radius: 15px;
    outline: none;
    font-size: 16px;
    background-color: white;
    transition: var(--border-color) 0.3s ease;
  }
  
  .search-input:focus {
    border-color: none;
  }
  
  .search-button {
    padding: 13px 20px;
    border: none;
    border-radius: 15px;
    background-color: hsl(0, 100%, 31%);
    color: white;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .search-button:hover {
    background-color: hsl(0, 100%, 38%);
  }